@import url(../../root.css);

.cooperation {
  margin-right: var(--body-margin);
  margin-bottom: var(--main-section-margin);
  margin-left: var(--body-margin);
  text-align: center;
  color: var(--deep-blue);
}

.cooperation-title {
  font: var(--h2-font);
  margin-bottom: var(--h2-margin);
}

.cooperation-logos {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: var(--cooperation-logo-gap);
}

.cooperation-logo-frame {
  width: var(--cooperation-logo-frame-width);
  height: var(--cooperation-logo-frame-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--cooperation-logo-frame-border);
  border-radius: var(--card-radius);
}

.cooperation-logo {
  max-width: var(--cooperation-logo-size);
  max-height: var(--cooperation-logo-size);
}