@import url(../../root.css);

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--body-margin);
  margin-bottom: var(--main-section-margin);
  margin-left: var(--body-margin);
  color: var(--deep-blue)
}

.hero-content-container {
  width: var(--content-size);
}

.hero-title {
  font: var(--h1-font);
  margin-bottom: var(--h1-margin);
}

.hero-subtitle {
  font: var(--h4-font);
  margin-bottom: var(--h4-margin);
}

.hero-button {
  font: var(--p-font);
  background-color: var(--primary-orange);
  color: #fff;
  padding: var(--button-padding);
  margin-top: var(--button-margin);
  border: none;
  border-radius: var(--button-radius);
}

.hero-button:hover {
  cursor: pointer;
  background-color: var(--deep-blue);
}

.hero-image {
  display: block;
  width: var(--image-width);
  height: auto;
}