@import url(../../root.css);

.join {
  margin-right: var(--body-margin);
  margin-bottom: var(--main-section-margin);
  margin-left: var(--body-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--deep-blue);
}

.join-image {
  width: var(--secondary-image-width);
}

.join-content-container {
  width: var(--secondary-content-size);
  text-align: right;
}

.join-title {
  font: var(--h2-font);
  margin-bottom: var(--h2-margin);
}

.join-paragraph {
  font: var(--p-font);
  margin-bottom: var(--p-margin);
  line-height: var(--paragraph-line-height);
}

.join-button-group {
  display: flex;
  justify-content: end;
  align-items: center;
}

.join-button {
  margin-left: var(--button-margin);
  padding: var(--button-padding);
  background-color: var(--deep-blue);
  border-radius: var(--button-radius);
  border: none;
  color: #fff;
}

.join-button:nth-of-type(1) {
  background-color: var(--primary-orange);
}

.join-button:hover {
  background-color: var(--primary-blue);
  cursor: pointer;
}