@import url(../../root.css);

.support {
  margin: 0 var(--body-margin) var(--main-section-margin) var(--body-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--deep-blue);
}

.support-image {
  width: var(--secondary-image-width);
}

.support-content-container {
  width: var(--secondary-content-size);
  text-align: left;
}

.support-title {
  font: var(--h2-font);
  margin-bottom: var(--h2-margin);
}

.support-paragraph {
  font: var(--p-font);
  margin-bottom: var(--p-margin);
  line-height: var(--paragraph-line-height);
}

.support-button {
  padding: var(--button-padding);
  background-color: var(--deep-blue);
  border-radius: var(--button-radius);
  border: none;
  color: #fff;
}

.support-button:hover {
  background-color: var(--primary-blue);
  cursor: pointer;
}