* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

label {
  margin-top: 4rem;
}

label input {
  display: inline-block;
  width: 30rem;
  height: 3rem;
  margin-left: 0.5rem;
}

label button {
  display: inline-block;
  height: 3rem;
  margin-left: 0.5rem;
}