@import url(root.css);

.footer {
  padding: var(--footer-padding-top) var(--body-margin);
  background-color: var(--primary-blue);
  color: #fff;
}

.footer-logo {
  width: var(--main-logo-width);
  height: auto;
}

.footer-contents-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-paragraph-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-link-container:nth-of-type(2) {
  margin-left: var(--footer-detail-margin);
}

.footer-link-title {
  margin-bottom: var(--footer-title-margin);
}

.footer-link-title h5 {
  font: var(--h5-font);
}

.footer-link a {
  font: var(--p-font);
  text-decoration: none;
  color: #fff;
}

.footer-link {
  margin-bottom: var(--p-margin);
}

.footer-subscribe-container {
  text-align: right;
  width: var(--footer-subscribe-width);
  margin-left: var(--footer-detail-margin);
}

.footer-subscribe-title {
  font: var(--h5-font);
  margin-bottom: var(--footer-title-margin);
}

.footer-subscribe-paragraph {
  font: var(--p-font);
  line-height: var(--footer-line-height);
  margin-bottom: var(--p-margin);
}

.footer-input-group {
  display: flex;
  align-items: center;
  text-align: right;
}

.footer-input {
  display: block;
  width: var(--footer-input-width);
  height: var(--footer-input-height);
}

.footer-button-container {
  margin-left: var(--footer-button-margin);
}

.footer-button {
  color: #fff;
  background-color: var(--deep-blue);
  font: var(--h5-font);
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  border: none;
}

.footer-button:hover {
  cursor: pointer;
  background-color: var(--primary-orange);
}

.footer-copyright-container {
  text-align: center;
  margin-top: var(--footer-copyright-margin);
}