@import url(../../root.css);

.event-attend {
  margin-top: var(--main-section-margin);
  margin-right: var(--body-margin);
  margin-left: var(--body-margin);
  color: var(--deep-blue);
}

.event-attend-title {
  font: var(--h1-font);
  margin-bottom: var(--h1-margin);
  text-align: center;
}

.event-attend-cards {
  display: flex;
  justify-content: center;
  text-align: start;
}

.event-attend-card {
  width: var(--event-card-width);
  height: auto;
  margin-right: var(--event-card-margin);
  margin-bottom: var(--main-section-margin);
  box-shadow: var(--box-shadow);
  border-radius: var(--card-radius);
  text-align: center;
}

.event-attend-image-container {
  background-color: var(--hero-blue);
  padding: var(--event-attend-card-padding) 0;
  margin-bottom: var(--image-margin);
}

.event-attend-image {
  height: calc(var(--event-card-width) / 1.618);
  width: auto;
}

.event-attend-card-title {
  font: var(--h4-font);
  margin-bottom: var(--h4-margin);
}

.event-attend-card-paragraph {
  font: var(--p-font);
  padding-right: var(--event-card-margin);
  padding-bottom: var(--event-card-margin);
  padding-left: var(--event-card-margin);
}