@import url(../../root.css);

.event-introduction {
  background-image: url(/pastEventPagePhotos/intro-background.png);
  height: var(--event-introduction-image-height);
  width: 100vw;
  color: var(--deep-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event-introduction-title {
  font: var(--h1-font);
  margin-bottom: var(--h1-margin);
}

.event-introduction-paragraph {
  font: var(--p-font);
  width: var(--paragraph-frame-size);
}