@import url(../../root.css);

.welcome {
  margin: var(--detail-section-margin) var(--body-margin) 0 var(--body-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--deep-blue);
}

.welcome-title {
  font: var(--h1-font);
  margin-bottom: var(--h1-margin);
}

.welcome-subtitle {
  font: var(--h2-font);
  margin-bottom: var(--h2-margin);
}

.welcome-text {
  width: var(--text-frame-size);
  font: var(--p-font);
  line-height: var(--paragraph-line-height);
  text-align: center;
  margin-bottom: var(--p-margin);
}

.welcome-image-container {
  margin-top: var(--picture-margin);
}

.welcome-image {
  width: 32.5rem;
  height: auto;
}