@import url(../../root.css);

.contact {
  margin-right: var(--body-margin);
  margin-bottom: var(--main-section-margin);
  margin-left: var(--body-margin);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--light-gray);
  border-radius: var(--card-radius);
  box-shadow: var(--box-shadow);
}

.contact-inputs {
  color: var(--deep-blue);
  margin-right: var(--input-margin-right);
  padding: var(--input-padding);
}

.contact-groups {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: var(--input-margin-bottom);
}

.contact-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.contact-label {
  margin-bottom: var(--label-margin-bottom);
}

.contact-input {
  min-width: var(--input-width);
  height: var(--input-height);
  margin-right: var(--input-margin-right);
}

.contact-message {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--detail-section-margin);
}

.contact-textarea {
  width: calc(var(--input-width) * 2 + 1rem);
  height: calc(var(--input-height) * 2);
  resize: none;
  overflow-x: hidden;
}

.contact-submit {
  background-color: var(--primary-orange);
  color: #fff;
  padding: var(--button-padding);
  border-radius: var(--button-radius);
  border: none;
}

.contact-submit:hover {
  cursor: pointer;
  background-color: var(--deep-blue);
}

.contact-information-container {
  background-color: var(--primary-orange);
  color: #fff;
  padding: var(--information-padding);
}

.contact-information-title {
  font: var(--h5-font);
  margin-bottom: var(--h5-margin);
}

.contact-information-paragraph {
  font: var(--p-margin);
  margin-bottom: var(--p-margin);
}

.contact-information-methods {
  margin: var(--detail-section-margin) 0;
}

.contact-information-method {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--input-margin-bottom);
}

.contact-information-icon {
  margin-right: var(--icon-margin);
}

.contact-social-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-social-container {
  margin: var(--icon-margin);
}